{% extends "base_layout.html" %} {% block content %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %} {% if
messages[0][0] == 'danger' %}
<div
  id="toast-danger"
  class="flex items-center z-50 w-full max-w-xs p-4 mb-4 fixed top-5 right-5 border-t-4 text-red-800 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800"
  role="alert"
>
  <div
    class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200"
  >
    <svg
      class="w-5 h-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"
      />
    </svg>
    <span class="sr-only">Error icon</span>
  </div>
  <div class="ms-3 text-sm font-medium">
    <p>{{ messages[0][1] }}</p>
  </div>
  <button
    type="button"
    class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"
    data-dismiss-target="#toast-danger"
    aria-label="Close"
  >
    <span class="sr-only">Close</span>
    <svg
      class="w-3 h-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
      />
    </svg>
  </button>
</div>
{% endif %} {% endif %} {% endwith %}
<div
  class="flex flex-col py-10 space-y-8 items-center justify-center mx-auto w-full md:w-3/5"
>
  <h1 class="font-semibold text-3xl dark:text-white">Extrair marca d'água</h1>
  <div
    class="w-4/5 bg-white p-10 rounded-xl shadow dark:border dark:bg-gray-800 dark:border-gray-700"
  >
    <form
      class="flex flex-col gap-5"
      action="/dashboard/extraction"
      method="post"
      enctype="multipart/form-data"
    >
      <div
        class="flex flex-col md:space-x-6 md:flex-row items-center justify-center w-full"
      >
        <div>
          <h3 class="text-base font-semibold pb-2 dark:text-white">
            Selecione uma imagem marcada
          </h3>
          <label
            for="markedImage"
            class="flex flex-col items-center justify-center w-full h-96 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
            id="markedImageLabel"
          >
            <div
              class="flex flex-col items-center justify-center pt-5 pb-6"
              id="markedSVGContainer"
            >
              <svg
                class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 16"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                />
              </svg>
              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                <span class="font-semibold">Click to upload</span> or drag and
                drop
              </p>
              <p class="text-xs text-gray-500 dark:text-gray-400">
                SVG, PNG, JPG or GIF
              </p>
            </div>
            <input
              id="markedImage"
              name="markedImage"
              type="file"
              class="hidden"
              onchange="handleImageSelection()"
            />
            <div
              id="markedImageSelectedMsg"
              class="text-sm text-green-500 dark:text-green-400 hidden"
            >
              Imagem selecionada
            </div>
            <img
              id="selectedMarkedImagePreview"
              class="mt-2 max-h-96 w-auto hidden"
              alt="Selected Image Preview"
            />
          </label>
        </div>
        <div>
          <h3 class="text-base font-semibold pb-2 dark:text-white">
            Selecione a imagem original
          </h3>
          <label
            for="originalImage"
            class="flex flex-col items-center justify-center w-full h-96 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
            id="originalImageLabel"
          >
            <div
              class="flex flex-col items-center justify-center pt-5 pb-6"
              id="originalSVGContainer"
            >
              <svg
                class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 16"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                />
              </svg>
              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                <span class="font-semibold">Click to upload</span> or drag and
                drop
              </p>
              <p class="text-xs text-gray-500 dark:text-gray-400">
                SVG, PNG, JPG or GIF
              </p>
            </div>
            <input
              id="originalImage"
              name="originalImage"
              type="file"
              class="hidden"
              onchange="handleImageSelection()"
            />
            <div
              id="originalImageSelectedMsg"
              class="text-sm text-green-500 dark:text-green-400 hidden"
            >
              Imagem selecionada
            </div>
            <img
              id="selectedOriginalImagePreview"
              class="mt-2 max-h-96 w-auto hidden"
              alt="Selected Image Preview"
            />
          </label>
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 pb-5">
        <div>
          <label
            for="extraction_type"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Tipo de extração</label
          >
          <select
            id="extraction_type"
            name="extraction_type"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            onchange="toggleWatermarkInput(this)"
            required
          >
            <option value="" disabled selected>Selecione uma opção</option>
            <option value="image_dct">DCT (Imagem)</option>
            <!-- <option value="text_dct">DCT (Texto)</option> -->
            <option value="image_dwt">DWT (Imagem)</option>
            <!-- <option value="text_dwt">DWT (Texto)</option> -->
            <option value="image_lsb">LSB (Imagem)</option>
            <option value="text_lsb">LSB (Texto)</option>
            <!--  <option value="text_hs">HS (Texto)</option> -->
            <!--  <option value="image_pvd">PVD (Imagem)</option> -->
            <!-- <option value="text_pvd">PVD (Texto)</option> -->
          </select>
        </div>
        <div>
          <label
            for="watermark_select"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Selecione uma marca d'água</label
          >
          <select
            id="watermark_select"
            name="watermark_select"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          >
            <option value="" disabled selected>Selecione uma opção</option>
            {% for watermark in user_watermarks %}
            <option
              value="{{ watermark.value }}"
              class="{% if watermark.type == 'image' %}image-watermark{% else %}text-watermark{% endif %}"
            >
              {{ watermark.name }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-0.1 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Extrair
      </button>
    </form>
  </div>
  {% if text_watermark is defined %}
  <div
    class="font-bold text-3xl py-10 px-5 dark:text-white bg-gray-100 dark:bg-gray-800 rounded-lg mb-10"
  >
    <h2>Texto da marca d'água: {{ text_watermark }}</h2>
  </div>
  {% endif %} {% if correlation is defined %}
  <div
    class="font-bold text-3xl py-10 px-5 dark:text-white bg-gray-100 dark:bg-gray-800 rounded-lg mb-10"
  >
    <h2>Correlação: {{ correlation }}</h2>
  </div>
  {% endif %}
</div>
<script>
  function toggleWatermarkInput(selectElement) {
    var watermarkSelect = document.getElementById("watermark_select");
    var imageWatermarks = document.querySelectorAll(".image-watermark");
    var textWatermarks = document.querySelectorAll(".text-watermark");

    for (var i = 0; i < imageWatermarks.length; i++) {
      imageWatermarks[i].style.display = "none";
    }

    for (var i = 0; i < textWatermarks.length; i++) {
      textWatermarks[i].style.display = "none";
    }

    if (selectElement.value.startsWith("image")) {
      for (var i = 0; i < imageWatermarks.length; i++) {
        imageWatermarks[i].style.display = "block";
      }
    } else if (selectElement.value.startsWith("text")) {
      for (var i = 0; i < textWatermarks.length; i++) {
        textWatermarks[i].style.display = "block";
      }
    }

    watermarkSelect.value = "";
  }

  function handleImageSelection() {
    const markedSVGContainer = document.getElementById("markedSVGContainer");
    const originalSVGContainer = document.getElementById(
      "originalSVGContainer"
    );
    const markedImageLabel = document.getElementById("markedImageLabel");
    const originalImageLabel = document.getElementById("originalImageLabel");
    const markedImageInput = document.getElementById("markedImage");
    const originalImageInput = document.getElementById("originalImage");
    const markedImageSelectedMsg = document.getElementById(
      "markedImageSelectedMsg"
    );
    const originalImageSelectedMsg = document.getElementById(
      "originalImageSelectedMsg"
    );
    const selectedMarkedImagePreview = document.getElementById(
      "selectedMarkedImagePreview"
    );
    const selectedOriginalImagePreview = document.getElementById(
      "selectedOriginalImagePreview"
    );

    if (markedImageInput.files && markedImageInput.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {
        markedSVGContainer.style.display = "none";

        selectedMarkedImagePreview.src = e.target.result;
        selectedMarkedImagePreview.classList.remove("hidden");

        markedImageSelectedMsg.style.display = "none";

        markedImageLabel.classList.remove(
          "flex",
          "flex-col",
          "items-center",
          "justify-center",
          "w-full",
          "h-64",
          "border-2",
          "border-gray-300",
          "border-dashed",
          "rounded-lg",
          "cursor-pointer",
          "bg-gray-50",
          "dark:hover:bg-bray-800",
          "dark:bg-gray-700",
          "hover:bg-gray-100",
          "dark:border-gray-600",
          "dark:hover:border-gray-500",
          "dark:hover:bg-gray-600"
        );
      };

      reader.readAsDataURL(markedImageInput.files[0]);
    }

    if (originalImageInput.files && originalImageInput.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {
        originalSVGContainer.style.display = "none";

        selectedOriginalImagePreview.src = e.target.result;
        selectedOriginalImagePreview.classList.remove("hidden");

        originalImageSelectedMsg.style.display = "none";

        originalImageLabel.classList.remove(
          "flex",
          "flex-col",
          "items-center",
          "justify-center",
          "w-full",
          "h-64",
          "border-2",
          "border-gray-300",
          "border-dashed",
          "rounded-lg",
          "cursor-pointer",
          "bg-gray-50",
          "dark:hover:bg-bray-800",
          "dark:bg-gray-700",
          "hover:bg-gray-100",
          "dark:border-gray-600",
          "dark:hover:border-gray-500",
          "dark:hover:bg-gray-600"
        );
      };

      reader.readAsDataURL(originalImageInput.files[0]);
    }
  }
</script>
{% endblock %}
