<!-- welcome.html -->
{% extends "base_layout.html" %} {% block content %}
<div class="grid grid-cols-2 md:grid-cols-3 gap-5 py-10">
  <div
    class="bg-white-800 p-5 rounded-lg flex flex-col items-center justify-center shadow dark:border"
  >
    <h1 class="font-semibold text-xl dark:text-white">Marcas d'água disponíveis</h1>
    <div
      class="flex flex-row gap-5 w-full items-center justify-center px-10 pt-4"
    >
      <span class="text-3xl font-bold dark:text-white">3</span>
      <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
        <div class="bg-blue-600 h-2.5 rounded-full" style="width: 60%"></div>
      </div>
    </div>
  </div>
  <div
    class="bg-white-800 p-5 rounded-lg flex flex-col items-center justify-center shadow dark:border"
  >
    <h1 class="font-semibold text-xl dark:text-white pb-4">Imagens protegidas</h1>
    <span class="text-3xl font-bold dark:text-white">7</span>
  </div>
  <div
    class="bg-white-800 p-5 rounded-lg flex flex-col items-center justify-center shadow dark:border"
  >
    <h1 class="font-semibold text-xl dark:text-white">Extrações realizadas</h1>
  </div>
</div>
<div class="text-2xl font-bold text-gray-900 dark:text-white py-5">
  Imagens salvas
</div>
<div>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4 pt-4">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-6.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-7.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-8.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-9.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-10.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-11.jpg"
        alt=""
      />
    </div>
  </div>
</div>
{% endblock %}
