{% extends "base_layout.html" %} {% block content %}
<div
  class="flex flex-col py-10 items-center justify-center mx-auto w-full md:w-3/5"
>
  <h1 class="text-2xl font-bold mb-4 dark:text-white">Minhas Marcas d'Água</h1>
  <div class="flex flex-wrap justify-center gap-4">
    {% for watermark in user_watermarks %} {% if watermark.type == "image" %}
    <div class="bg-gray-100 p-4 mb-4 rounded dark:bg-gray-800">
      <strong class="text-lg dark:text-white">{{ watermark.name }}</strong>
      <br />
      <span class="block mb-2 dark:text-white">Tipo: Imagem</span>
      <img
        src="{{ url_for('get_watermark', filename=watermark.value) }}"
        alt="{{ watermark.name }}"
        class="w-64 h-auto rounded mb-2"
      />
    </div>
    {% endif %} {% endfor %}
  </div>
  <div class="flex flex-wrap justify-center gap-4">
    {% for watermark in user_watermarks %} {% if watermark.type == "text" %}
    <div class="bg-gray-100 p-4 mb-4 rounded dark:bg-gray-800">
      <strong class="text-lg dark:text-white">{{ watermark.name }}</strong>
      <br />
      <span class="block mb-2 dark:text-white">Tipo: Texto</span>
      <span class="dark:text-white">Valor: {{ watermark.value }}</span>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
{% endblock %}
